<app-header titulo="Aplicação"></app-header>
<div>
  <app-titulo title="Ola mundo"></app-titulo>

  <app-button nome="Botão Um"></app-button>

  <app-button [nome]="buttonTitle"></app-button>

  <app-button [nome]="'Botão Três'"></app-button>
</div>
